.password-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 50px auto;
}
body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.password-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #00ffcc;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  outline: none;
  box-shadow: 0 0 20px #00ffcc;
  animation: neon-glow 2s infinite alternate;
}

.password-input::placeholder {
  color: #00ffcc;
}

.toggle-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: #00ffcc;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

@keyframes neon-glow {
  0% {
    box-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc, 0 0 20px #00ffcc,
      0 0 30px #00ffcc, 0 0 40px #00ffcc;
  }
  100% {
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc,
      0 0 40px #00ffcc, 0 0 50px #00ffcc;
  }
}

.password-input:focus {
  animation: current-flow 2s linear infinite;
}

@keyframes current-flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.password-input {
  background: linear-gradient(270deg, #00ffcc, #000);
  background-size: 400% 400%;
}
