.slideshowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family:cursive;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 300px;
  background-color: #ffff;
  color:rgb(3, 3, 79);
  filter: drop-shadow(0 0.5rem 1rem rgb(105, 104, 104));
}
.slideshowContainer h1 {
  margin-bottom: 15px;
}
.buttonsContainer {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.buttonsContainer button {
  margin-right: 20px;
  border-radius: 5px;
}
.btn:disabled {
  width: 80px;
  height: 40px;
  color: #fff;
  background-color: #9e9ff2;
  cursor: not-allowed;
  border:none;
}

.btn:not(:disabled) {
  width: 80px;
  height: 40px;
  color: #fff;
  background-color: #0a0d41;
  cursor: pointer;
}
